# Hands-on Machine Learning with Python (8th Sept 2018)

<hr />
## 1) Get the Data

In [1]:
# Importing Packages
import os
import pandas as pd
import numpy as np

### 1.2) Importing Data

In [2]:
churndata = pd.read_csv("Churn_Modelling.csv", na_values=["?"])

### 1.3) Quick look at the data structure

In [3]:
churndata.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
churndata = churndata.drop("RowNumber", axis=1)

In [5]:
churndata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(8), object(3)
memory usage: 1015.7+ KB

In [6]:
churndata.describe()

,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [7]:
churndata["Geography"].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [8]:
churndata["Gender"].value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [9]:
churndata["Exited"].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

### 1.4) Creating a test set

In [10]:
# importing function
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(churndata, test_size = 0.2, random_state = 42)

In [11]:
print("Train: Rows = %d , Col = %d" % (train_set.shape[0], train_set.shape[1]))
print("Test: Rows = %d , Col = %d" % (test_set.shape[0], test_set.shape[1]))

Train: Rows = 8000 , Col = 13
Test: Rows = 2000 , Col = 13

In [12]:
train_set["Exited"].value_counts()/8000

0    0.7945
1    0.2055
Name: Exited, dtype: float64

In [13]:
test_set["Exited"].value_counts()/2000

0    0.8035
1    0.1965
Name: Exited, dtype: float64

<hr />
## 3) Preparing data for  ML Algorithms

### 3.1) Data Cleaning / Missing Value Treatment

### 3.2) Handling Text and Categorical Attributes

### 3.3) Custom Transformation

### 3.4) Creating Pipelines

<hr />
## 4) Train and Fine - Tuning the model

### 4.1) Training and Evaluating on the training set

### 4.2) Better Evaluation using Cross - Validation

### 4.3) Finalizing the model

### 4.4) Predicting the test set